body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2b2e35;
}

header{
    padding: 30px;
    height: 40px;
    color: white;
}

.underline{
    width: 120px;
    height: 6px;
    background: #c8c8c8;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.appname{
    padding: 30px;
    margin: 10px;
    font-size: 30px;
    color: whitesmoke;
}

.sidenav {
    width: 240px;
    background: #1e2025;
    position: absolute;
    height: 100%;
    padding: 0 30px;
    transition: all 1a;
}

ul {
    padding:0;
}

ul li {
    list-style-type: none; 
    margin: 20px 0px;
}

ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li a:hover,
ul li a.active{
    background: #3e434d;
}